@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

.maplibregl-canvas {
  border-radius: 20px;
  border: 2px solid #b5c0d0;
}

.headline {
  font-size: 70px;
  text-transform: uppercase;
  /* font-family: "Anta", sans-serif; */
  font-weight: 400;
  font-style: normal;
  letter-spacing: -2px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  /* margin-bottom: 0.8rem; */
  color: #35374b !important;
  outline: none;
  text-align: center;
}

.headline:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

.marker-animation {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
